@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;

  background-image:
    linear-gradient(
      rgba(17, 54, 75, 0.7),
      rgba(10, 70, 91, 0.7)
    ),
    url("https://images.unsplash.com/photo-1511379938547-c1f69419868d");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 12px;
}
nav ul li:nth-last-child(2) {
    margin-left: auto;
}
.brand img{
    width: 44px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 72vh;
    background-color: rgb(220, 229, 232);
    color: rgb(217, 231, 239);
   font-family: 'Varela Round', sans-serif;
   display: flex;
   margin: 23px auto;
   width: 60%;
   border-radius: 12px;
   padding: 34px;
   background-image:url('https://img.freepik.com/premium-photo/sad-anime-girl-listening-music-lofi-night_911078-5806.jpg');
}

.bottom{
    position: sticky;
    bottom: 0;
    height: 130px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.icons{
    margin-top: 14px; 
}
.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw; 
    cursor: pointer;
}

.songItemContainer{
    margin-top: 74px;
}

.songItem{
    height: 60px;
    display: flex;
    background-color: rgb(244, 239, 239);
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 40px;
}
.songItem img{
    width: 45px;
    height: 45px;
    margin: 0 20px;
    border-radius: 50%;
    object-fit: cover;
}
.timestamp{
    margin: 0 23px;
}

.timestamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

@media only screen and (max-width: 1100px) {
    body {
      background-color: rgb(235, 138, 138);
    }
  }
